{% extends 'base.html' %}
{% block content %}
<div  class= 'form-group signupform mt-4 mb-4'>
    <div class="row">
        <div class="col-sm-4 offset-4 login-style">
            <h2 class = 'text-center'>Login</h2>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {% for f in form %}
                    <div class = 'label'>{{f.label_tag}}</div>{{f}}
                    <div>{{f.errors|striptags}}</div>
                {% endfor %}
                <br>
                <div class = "flex-right"><input type="submit" value="Login" class= 'btn btn-success'></div>
                {% if messages %}
                {% for m in messages %}
                    {{m}}
                {% endfor %}
                {% endif %}
            </form>
            <hr>
            <div class="d-grid gap-2 col-4 mx-auto">
                <label class="text-center">Not Registered? </label><a href="{% url 'signup' %}" class = "btn btn-primary btn-sm">Sign Up</a>
              </div>
        </div>
    </div>
</div>
{% endblock %}